@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-standard:'century gothic', monospace;
    --font-title:'Title', serif;
    --font-sub:'Subtitle', sans-serif;
}

@font-face {
    font-family:'Title' ;
    src: url(font/hiro_misake/HIROMISAKE.ttf) format('truetype');
}

@font-face {
    font-family:'Subtitle' ;
    src: url(font/korean_calligraphy/Korean_Calligraphy.ttf) format('truetype');
}

body{
    min-height: 100vh;
    background-color: black;
    font-family: var(--font-standard);
}

header{
    background-color: white;
    text-align: center;
}

header > h1{
    font-family: var(--font-title);
    font-size: 10vw;
    padding: 40px 0px 0px 0px;
}

header > p{
    padding: 0px 0px 40px 0px;
    font-family: var(--font-sub);
    font-size: 1.3em;
}

header a, footer a{
    text-decoration: none;
    color: black;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section, aside{
    padding: 10vh 0px 10vh 30px;
    color: white;
    font-family: var(--font-sub);
    font-size: 3.5vw;
}

section > p{
    padding: 0px 0px 1.5em;
    
}

aside > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 15px;
    border-radius: 15px;
}

#image01{
    padding: 15vh 0px 15vh 30px;
    background-image: url(images/musashi1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 4.5vw;
}

#image02{
    padding: 15vh 0vh 15vh 30px;
    background-image: url(images/musashi2.png);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    font-size: 4.5vw;
}

footer{
    background-color: white;
    font-family: var(--font-sub);
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}